*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus{ outline:  0 solid; }
img{
    max-width: 100%;
    height: auto;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0  15px;
    font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body{
    height: 100%;
}

input:focus, textarea:focus{
    outline: none;
}

// Remove Chrome Input Field's Unwanted Yellow Background Color
input:-webkit-autofill, 
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}